/* Custom cursor style */
.app-cursor {
    z-index: 1000;
    /* border-radius: 50%; */
    width: 90px;
    height: 90px;
    background-color: white;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
    display: block;
}

/* Hide cursor on screens smaller than 768px */
@media (max-width: 768px) {
    .app-cursor {
        display: none;
    }
}